# Notebook for data merging


<div class="alert alert-info">
    <h5>This notebook only serves as a testimony to our data merging procedure. It doesn't have to be run or consulted. One may refer to it out of curiosity or if she/he wishes to add an attribute. Please note that the names of the columns in the final data set have been altered (shortened) so keep that in mind if you want to redo the merge and run the codes. </h5>
</div>

In [1]:
import pandas as pd #pandas for merging the different dataframes

In [23]:
alcohol = pd.read_csv('./data/raw_data/alcohol_consumption_1960_2018.csv') #data about alcohol consumption
health = pd.read_csv('./data/raw_data/health_data.csv') # mental disorder data 
whr = pd.read_csv('./data/raw_data/whr_data.csv', sep = ';') # World happiness report data
rate = pd.read_csv('./data/raw_data/new-share-deaths-suicide.csv', sep = ';') #suicide rate data
hdi = pd.read_csv('./data/raw_data/hdi_human_development_index.csv') # Human development index data
income = pd.read_csv('./data/raw_data/income.csv') # data about the adjusted income
data = pd.read_csv('./data/raw_data/wdi_worldbank.csv') #World development indicators data
df = pd.read_csv('./data/raw_data/comm_indv_social_data.csv') #The final two frames include miscellaneous attributes
lfe = pd.read_csv('./data/raw_data/life_expectancy_years.csv') #Data about the healthy life expectancy

In [24]:
health.rename(columns = {'Entity':'Country'}, inplace = True) # Renaming for merging later

In [25]:
health.drop(columns = 'Unnamed: 0', inplace = True) # Dropping index duplicate

In [26]:
# Melting the data frame for convenient format
alcohol = alcohol.melt(id_vars=["Country"], 
        var_name="Year", 
        value_name="Consumption of Alcohol")

In [46]:
alcohol["Year"] = pd.to_numeric(alcohol["Year"]) # From string to numeric

In [27]:
# Dropping irrelevant columns from WHR 19 
columns = ['Healthy life expectancy at birth','Generosity', 'Democratic Quality', 'Delivery Quality',
           'Standard deviation of ladder by country-year', 'Standard deviation/Mean of ladder by country-year',
           'GINI index (World Bank estimate)', 'GINI index (World Bank estimate), average 2000-16',
           'gini of household income reported in Gallup, by wp5-year', 'Most people can be trusted, WVS round 1981-1984', 
           'Most people can be trusted, WVS round 1989-1993', 'Most people can be trusted, WVS round 1994-1998',
           'Most people can be trusted, WVS round 1999-2004', 'Most people can be trusted, WVS round 2005-2009',
           'Most people can be trusted, WVS round 2010-2014']
whr.drop(columns = columns, inplace = True)

In [28]:
# Renaming columns for merging later
whr.rename(columns = {'Country name':'Country', 'Life Ladder':'Happiness Index'}, inplace = True)

In [29]:
# Renaming columns for merging later
df.rename(columns = {'country':'Country', 'year':'Year'}, inplace = True)

In [54]:
# Renaming columns for merging later
rate.rename(columns = {'Entity':'Country'}, inplace = True)

In [105]:
# Melting the data frame for convenient format
hdi = hdi.melt(id_vars=["country"], 
        var_name="Year", 
        value_name="HDI")

In [106]:
# Renaming columns for merging later
hdi.rename(columns = {'country':'Country'}, inplace = True)

In [80]:
# Retrieving relevant data
income_final = pd.DataFrame([])
for i in range(2, 43):
    income_unemp = pd.DataFrame([])
    income_unemp["Country Code"] = income["Country Code"]
    income_unemp["Country"] = income["Country Name"]
    income_unemp["Year"] = 1978 + i
    income_unemp["Adjusted net national income per capita (current US$)"] = income.iloc[:,i]
    income_final = pd.concat([income_final,income_unemp], axis=0, ignore_index=True)
income = income_final

In [107]:
hdi["Year"] = pd.to_numeric(hdi["Year"]) # From string to numeric

In [101]:
# Renaming columns for merging later
lfe.rename(columns = {'country': 'Country'}, inplace =True)

In [103]:
# Melting the data frame for convenient format
lfe = lfe.melt(id_vars=["Country"], 
        var_name="Year", 
        value_name="LFE")

In [110]:
lfe["Year"] = pd.to_numeric(lfe["Year"]) # From string to numeric

## Outer merge to create the bigger data set

Iterate through these to create the data set : alcohol, health, whr, df, rate, hdi, Income, data, lfe. First replace merge by one of these then rerun the code by substituting the first argument to merge and the seond to the nest element in the list above. You can probably do better than this but this is enough for our purpose.

In [111]:
merge = pd.merge(left=merge, right=lfe, on=['Country', 'Year'], how = 'outer')

In [116]:
merge

,Country,Year,Consumption of Alcohol,P_MHD,DAUD,PDD,PAD,PADHD,DMSUD,PBD,...,Country Code,Adjusted net national income per capita (current US$),Current health expenditure (% of GDP),Current health expenditure per capita (current US$),Out-of-pocket expenditure (% of current health expenditure),"Unemployment, total (% of total labor force) (modeled ILO estimate)","School enrollment, primary (% gross)","School enrollment, secondary (% gross)","School enrollment, tertiary (% gross)",LFE
0,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.3
1,Albania,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.2
2,Algeria,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.5
3,Angola,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.6
4,Antigua and Barbuda,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60902,Venezuela,2100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.3
60903,Vietnam,2100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.3
60904,Yemen,2100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.4
60905,Zambia,2100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.1
60906,Zimbabwe,2100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.7

In [114]:
merge.columns

Index(['Country', 'Year', 'Consumption of Alcohol', 'P_MHD', 'DAUD', 'PDD',
       'PAD', 'PADHD', 'DMSUD', 'PBD', 'Happiness Index', 'Log GDP per capita',
       'Social support', 'Freedom to make life choices',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government',
       'Most people can be trusted, Gallup', 'battle deaths', 'cpi', 'ghs',
       'media integrity', 'military expenditure', 'Code', 'rate-total', 'HDI',
       'Country Code', 'Adjusted net national income per capita (current US$)',
       'Current health expenditure (% of GDP)',
       'Current health expenditure per capita (current US$)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'School enrollment, primary (% gross)',
       'School enrollment, secondary (% gross)',
       'School enrollment, tertiary (% gross)', 'LFE'],
      dtype='object')

In [123]:
to_drop = ['Happiness Index', 'Log GDP per capita',
       'Social support', 'Freedom to make life choices',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government',
       'Most people can be trusted, Gallup', 'Code', 'cpi', 'battle deaths'] #Removing these attributes from the bigger data set because
                                            # they include too many nan values, check for yourself.
merge_dropped = merge.drop(columns = to_drop)

In [132]:
merge_dropped = merge_dropped.loc[merge_dropped.isna().sum(axis = 1)< 7] # Keeping rows that include less than 7
                                                                        # missing values

## Inner Merge for creating the smaller data set

Rerun the previous procedure for the inner merge now (the one applied to the outer merge)

In [142]:
combined_filtred =  pd.merge(left=combined_filtred, right=lfe, on=['Country', 'Year'], how = 'inner')

In [145]:
combined_filtred.drop(columns = ['Country Code', 'cpi', 'battle deaths'],inplace =True) #Dropping irrelevant columns